# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

Babel>=1.3
jsonrpclib
requests
netaddr     # BSD
neutron-lib # Apache-2.0
intervaltree    # Apache-2.0
oslo.log    # Apache-2.0
pbr>=1.6
six
oslo.cache
tooz
